<section id="gallery" class="parallax-section">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
                <h1 class="heading">{{restaurant.name}}</h1>
                <hr>
            </div>
            <div ng-if="message" class="alert alert-danger">
                {{message}}
            </div>

            <div class="col-md-offset-1 col-md-10 col-sm-12 wow fadeIn" data-wow-delay="0.9s">
                <div class="row">
                    <div>
                        <div class="col-sm-9">
                            <div class="col-sm-3">
                                <img class="img-responsive" ng-src="{{restaurant.image_url}}" alt="Couldn't show the image">
                            </div>
                            <div class="col-sm-5">
                                <h4>{{restaurant.name}}</h4>
                                <div>
                                    <img ng-src="{{restaurant.rating_img_url_large}}" alt="Image test">
                                    <p>{{restaurant.review_count}} reviews</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h4>{{restaurant.location.neighborhoods[0]}}</h4>
                            <div ng-repeat="address in restaurant.location.display_address">
                                <p>{{address}}</p>
                            </div>
                            <p>{{restaurant.display_phone}}</p>

                        </div>
                    </div>

                </div>
                <h5>Comments from Yelp</h5>
                <div>
                    <p>{{restaurant.snippet_text}}</p>
                </div>
            </div>

            <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
                <h1 class="heading">Menu</h1>
                <hr>
            </div>
            <div class="col-md-offset-1 col-md-10 col-sm-12 wow fadeIn" data-wow-delay="0.9s">
                <div ng-repeat="menu in restaurant.menus" >
                    <div class="col-md-6 col-sm-6">
                        <h4>{{menu.name}} ................ <span>${{menu.price}}</span></h4>
                        <h5>{{menu.created}}</h5>
                    </div>
                </div>
                <p ng-if="currentUser">The Menus are out of date? Click <a ng-click="clickAdd(menu)" data-toggle="modal" data-target="#addMenu">here</a> to update.</p>
                <br>
            </div>
            <div ng-if="restaurant.comments">
                <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
                    <h1 class="heading">Comments</h1>
                    <hr>
                </div>
                <div class="col-md-offset-1 col-md-10 col-sm-12 wow fadeIn" data-wow-delay="0.9s">
                    <ul ng-repeat="comment in restaurant.comments">
                        <li>
                            <h6>{{comment.title}} by {{comment.username}}</h6>
                            <p>{{comment.detail}}</p>
                        </li>

                    </ul>
                </div>
            </div>

            <div ng-if="currentUser" >
                <div class="col-md-offset-1 col-md-10 col-sm-12 wow fadeIn" data-wow-delay="0.9s">
                    <form action="#" method="post">
                        <div class="col-md-6 col-sm-6">
                            <input name="title" ng-model="newComment.title" type="text" class="form-control" id="name" placeholder="Title">
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <input name="email" type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <textarea name="message" ng-model="newComment.detail" rows="5" class="form-control" id="message" placeholder="Reviews or Comments"></textarea>
                        </div>
                        <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6">
                            <input ng-click="addComment(newComment)" name="submit" type="submit" class="form-control" id="submit" value="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div id="addMenu" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Menu</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <form> 
                            <label>Menu Name</label> 
                            <input ng-model="addmenu.name" class="form-control" type="text" 
                                   placeholder="Menu Name"> 
                            <br> 
                            <label>Price</label> 
                            <input ng-model="addmenu.price" class="form-control" type="text" 
                                   placeholder="0.00"> 
                        </form> 
                    </div>
                </div>
                <div class="modal-footer">
                    <button ng-click="commitAdd(addmenu)" type="button" class="btn btn-default" 
                            data-dismiss="modal">Ok </button> 
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</section>



