<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Search</h1>
            <div ng-if="message" class="alert alert-danger">
                {{message}}
            </div>
            <form class="form-horizontal">
                <div class="row">
                    <div class="form-group col-md-5" >
                        <label for="restaurantname" class="col-sm-2 control-label">Find</label>
                        <div class="col-sm-10">
                            <input ng-model="restaurant.name" type="text" class="form-control" id="restaurantname" placeholder="Restaurant Name, Max's" >
                        </div>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="location" class="col-sm-2 control-label">Near</label>
                        <div class="col-sm-10">
                            <input ng-model="restaurant.location" type="text" class="form-control" id="location" placeholder="Seattle, WA" >
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button ng-click="search(restaurant)" class="btn btn-primary btn-block">Search</button>
                        </div>
                    </div>
                </div>

            </form>
            <div ng-if="restaurants.businesses">
                <h3>Search Results</h3>
                <div class="container" ng-repeat="restaurant in restaurants.businesses">
                    <hr>
                    <div>
                        <div class="row">
                            <div>
                                <div class="col-sm-9">
                                    <div class="col-sm-3">
                                        <a href="#/restaurant/{{restaurant.id}}">
                                            <img class="img-responsive" ng-src="{{restaurant.image_url}}" alt="Couldn't show the image">
                                        </a>
                                    </div>
                                    <div class="col-sm-9">
                                        <h4><a href="#/restaurant/{{restaurant.id}}">{{restaurant.name}}</a></h4>
                                        <div>
                                            <img ng-src="{{restaurant.rating_img_url_large}}" alt="Image test">
                                            <p>{{restaurant.review_count}} reviews</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <h4>{{restaurant.location.neighborhoods[0]}}</h4>
                                    <div ng-repeat="address in restaurant.location.display_address">
                                        <p>{{address}}</p>
                                    </div>
                                    <p>{{restaurant.display_phone}}</p>

                                </div>
                            </div>

                        </div>
                        <div>
                            <p>{{restaurant.snippet_text}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
